/* Universal CSS */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Common CSS */
.primary-btn {
    background-color: #1d4ed8FF;
    border-radius: 10px;
    color: white;
    padding: 12px 42px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: rgb(27, 55, 133);
}

/* Navbar related CSS */
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    margin: 30px auto;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #575757FF;
}

/* Banner section CSS */

.banner-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner.jpg);
}

.hero-content {
    text-align: center;
    padding: 136px 0px 80px 0px;
}

.hero-content h1 {
    font-size: 80px;
    font-weight: 700;
    color: white;
}

.hero-content-text {
    display: flex;
    justify-content: center;
}

.hero-content-text p {
    font-size: 22px;
    font-weight: 400;
    width: 830px;
    color: white;
    padding: 16px 0px 280px 0px;
}

.hero-btn {
    padding: 26px 63px;
    font-size: 25px;
}

/* Speakers section CSS */

.speakers-section-container {
    max-width: 1320px;
    margin: 80px auto 0px;
}

.speakers-heading {
    color: #000102FF;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.speakers-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px;
}

.speaker {
    border: 1px solid #e5e7ebFF;
    border-radius: 12px;
}

.speaker-expertise {
    color: #2563ebFF;
    font-size: 12px;
    font-weight: 600;
    margin-top: 26px;
}

.speaker h6 {
    color: #0d1b2aFF;
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0px;
}

.speaker-designation {
    color: #575757FF;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 26px;
}